@charset "utf-8";
*{
	margin: 0;padding: 0;
}
a{
	text-decoration: none;
	display: inline-block;
}
li{
	list-style: none;
}
html{
	font-size:10vw;
}
.fr{
	float: right;
}
.fl{
	float:left;
}
.clear{
	clear: both;
}
body{
    font-family: "微软雅黑";
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}