<div id="BBS" ng-controller="BBSCtry">
<div class="swiper-container swiper-container-horizontal swiper-scend">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<ng-include src="'views/BBS1.html'"></ng-include>
			</div>
			<div class="swiper-slide">
				<ng-include src="'views/BBS2.html'"></ng-include>
			</div>
			<div class="swiper-slide">
				<ng-include src="'views/BBS3.html'"></ng-include>
			</div>
		</div>
		 <div class="swiper-pagination">
		 </div>
	</div>
	<a ng-click="appearClick()" id="BBSsearch"></a>
<!--搜索点击出现的界面-->
	<div class="search" ng-class="back()" ng-click="backClick()">
		<div class="search_header">
			<div class="search_back"></div>
			<input type="text" class="search_input" placeholder="搜索目的地、用户、帖子、折扣"/>
		</div>
		
		<ul class="search_list">
			<p class="search_hot">热门搜索</p>
			<li ng-repeat="count in seaData">{{count}}</li>
		</ul>
	</div>
<!--结束-->		
</div>
