<div class="BBS2" ng-controller="BBS2Ctry">
	<ul>
			<li ng-repeat="nav in bbsEnter" ng-click="bbsEnterClick(nav.name)" ng-class="bbsEnternavClass(nav.name)">{{nav.name}}</li>
		</ul>
		<div>
			<div ng-repeat="data in bbsEnter | destinFilter:bbsEntername:'group':'name'" class="mainli">
				<div class="fex">
					<img ng-src="{{data.photo}}"/>
					<div>
						<h5 class="namep">{{data.name}}</h5>
						<p class="desp">{{data.description}}</p>
					</div>
				</div>
		<p class="p">评论：{{data.total_threads}}</p>
		</div>
		</div>
</div>

