<!DOCTYPE html>
<html ng-app="poort">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>穷游网</title>
		<link rel="stylesheet" type="text/css" href="../css/destination.css"/>
	</head>
	<body>
		<!--all.json-->
		<div style="background: #eee;" ng-controller="desCtrl">
	
			<!--地图-->
			<div class="des_map">
				<img src="../images/map.jpg" class="des_img1"/>
				<div class="des_map_asi des-t">
					<p>亚洲</p>
					<div class="des_tri"></div>
				</div>
				<div class="des_map_eur des-t" style="background: #3ece91;color:#fff">
					<p>欧洲</p>
					<div class="des_tri tri_g"></div>
				</div>
				<div class="des_map_afi des-t">
					<p>非洲</p>
					<div class="des_tri"></div>
				</div>
				<div class="des_map_nth des-3">
					<p>北美洲</p>
					<div class="des_tri des_l" ></div>
				</div>
				<div class="des_map_ant des-3">
					<p>南极洲</p>
					<div class="des_tri des_l" ></div>
				</div>
				<div class="des_map_sou des-3">
					<p>南美洲</p>
					<div class="des_tri des_l" ></div>
				</div>
				<div class="des_map_aus des-3">
					<p>大洋洲</p>
					<div class="des_tri des_l" ></div>
				</div>
			</div>
			<!--end map-->
			<div class="des_wrap">
				<p class="des_addr">欧洲热门目的地</p>
				<ul class="des_listpic">
					<li ng-repeat="datades in desData">
						<img src="../images/20140411062121492.jpg" class="des_img2"/>
						<div class="des_r">
							<p class="des_p1">433</p>
							<p class="des_p2">城市</p>
						</div>
						<div class="des_le">
							<p class="des_p3">法国</p>
							<p class="des_p4">France</p>
						</div>
					</li>
				</ul>
				<p class="des_addr">欧洲其他目的地</p>
				<ul class="des_countrylist">
					<li>
						<p>阿尔巴尼亚</p>
						<p>Albania</p>
					</li>
					<li></li>
				</ul>
			</div>
			<!--空div与底部的空隙-->
			<div style="width: 100%;height:5rem;"></div>
		</div>
	</body>
	<script src="../js/libs/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/descontroller.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var qyw = angular.module('poort',['desController']);
	</script>
</html>
