<div ng-controller="mineCtry" id="mine">
	<!--浮层-->		
	<div class="mine-all" ng-class="classfn()" ng-click="hideClick()">
		
		<div class="mine-change">
			<p class="mine-change_p">更换头像</p>
			<p class="mine-change_p">更换背景</p>
		</div>
	</div>
	<!--头部-->
	<div class="mine-head">
		<!--添加bell路由-->
		<a href="#" class="mine-a"> 
			<span class="glyphicon aaa"></span>
		<span class="glyphicon glyphicon-cog"></span>
		</a>
		<!--点击更换头像显示mine-change-->
		<div class="mine-user" ng-click="showClick()">
			<img src="../images/fdl.gif" class="mine-img"/>
			<p class="mine-user_p">Mr_user</p>
			<span class="mine-user_p">关注0 粉丝0</span>				
		</div>
		
	</div>
	<!--收藏帖子-->
	<div style="background: #D3D3D3;width: 100%;padding-bottom:20% ;">
	<div class="mine-nav">
		<a href="#" class="mine-nav_a">
			<span class="glyphicon glyphicon-star fontt"></span>
			<span class="fontt">
				收藏的帖子
			</span>
		</a>
		<a href="#" class="mine-nav_a">
			<span class="glyphicon glyphicon-envelope fontt"></span>
			<span class="fontt">
				我的锦囊
			</span>
		</a>
		<a href="#" class="mine-nav_a">
			<span class="glyphicon glyphicon-map-marker fontt"></span>
			<span class="fontt">
				我的行程
			</span>
		</a>
	</div>
	<!--中间的列表-->
	
		
	
	<ul id="mine-ul">
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-list-alt mine-ul_span"></span>
				<span class="mine-ul_span">我的订单</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-tag mine-ul_span"></span>
				<span class="mine-ul_span">我收藏的折扣</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-bookmark mine-ul_span"></span>
				<span class="mine-ul_span">我的优惠券</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-heart-empty mine-ul_span"></span>
				<span class="mine-ul_span">我收藏的目的地</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-flag mine-ul_span"></span>
				<span class="mine-ul_span">我的足迹</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-pushpin mine-ul_span"></span>
				<span class="mine-ul_span">等我点评的目的地</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-edit mine-ul_span"></span>
				<span class="mine-ul_span">我发布的帖子</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-search mine-ul_span"></span>
				<span class="mine-ul_span">我的问答</span>
			</a>				
		</li>
		<li class="mine-list">
			<a href="#">
				<span class="glyphicon glyphicon-user mine-ul_span"></span>
				<span class="mine-ul_span">我的结伴</span>
			</a>				
		</li>
		
	</ul>
	
	</div>
</div>
